---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="All Episodes of Web Components in Space" page="about">
<p>
    In summer of 2020, a billionaire playboy launched a rocket to space with a new set of web standards at the helm.
    In the weeks and months after their return, Web Components spread to many large and small organizations here on earth.
</p>

<p>
    Self dubbed "Web Componaut" Ben Farrell saw this happening and feared future invasions. Did Web Components change somehow
    in the depths of space to make ordinary buttons, accordions, hamburger menus, and other traditional UI prime for takeover by
    this new standard? Did something in space cause these new standards to evolve?
</p>

<p>
    Ben followed the trend of the fortunate Bay Area tech worker in the pandemic. He picked a remote location and left the city.
    Unlike others, this new "work from home" location wouldn't be on Earth, but orbiting the earth in a DIY spacelab built from
    abandoned La Croix fridges scavenged from the halls of his employer.
</p>
<p>
    WCIS is a series of experiments combining Web Components with experimental, bleeding edge, or just fun web technology.
    These experiments are done orbiting earth for two reasons.
    <ul>
        <li>To ensure the safety of our planet when future unexpected incidents occur</li>
        <li>To try and replicate whatever happened to UI components on the original mission to space</li>
    </ul>
</p>
</BaseLayout>

