---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About Web Components in Space" page="about">

<h2>Why Space?</h2>
<p>
    In summer of 2020, a billionaire playboy launched a rocket to space with a new set of web standards at the helm.
    In the weeks and months after their return, Web Components spread to many large and small organizations here on earth.
</p>

<p>
    Self dubbed "Web Componaut" Ben Farrell saw this happening and feared future invasions. Did Web Components change somehow
    in the depths of space to make ordinary buttons, accordions, hamburger menus, and other traditional UI prime for takeover by
    this new standard? Did something in space cause these new standards to evolve?
</p>

<p>
    Ben followed the trend of the fortunate Bay Area tech worker in the pandemic. He picked a remote location and left the city.
    Unlike others, this new "work from home" location wouldn't be on Earth, but orbiting the earth in a DIY spacelab built from
    abandoned La Croix fridges scavenged from the halls of his employer.
</p>
<p>
    WCIS is a series of experiments combining Web Components with experimental, bleeding edge, or just fun web technology.
    These experiments are done orbiting earth to ensure the safety of our planet when future unexpected incidents occur and to
    try and replicate whatever happened to UI components on the original mission to space.
</p>
<p>
    In each episode, we'll explore a new technology, talk with it's creator, and then build an app of our own with that technology.
    Each episode is split into multiple parts over a YouTube playlist. The experts might want to skip the lab where the app is being built, but at the very
    least, the interviews should be fantastic for anyone!
</p>

<h2>About Me</h2>
<p>
    My name is Ben Farrell, and I'm a Prototyper with <a href="https://adobe.design/">adobe.design</a>.
    I bring my prototyping mindset to this video series. I'll never tell you what to do, just offer suggestions
    on how to explore the technology I'm presenting. I may take some roundabout ways to do a thing, but it's all
    part of how I learn things and I like to share that journey. This video series is also not meant to teach the "correct" way to work with
    the technology discussed. Again, we are just exploring and learning.
</p>
    <p>For more proper Web Component training, especially with Lit, you might enjoy the <a href="https://www.youtube.com/channel/UCok4ZKSzM3jY7JQRMlF-DPg">Lit University channel on Youtube</a></p>

<h2>Comments? Feedback?</h2>
<p>
    Whew, this video series is a lot of work! I'm doing this myself, and I really haven't sought out much feedback or QA.
    So, am I crazy for going to space? Are there things I could do to be more helpful in future episodes? Did I make a mistake?
    Constructive feedback is welcome in my Youtube comments or as issues on the Github repos.
</p>
<p>
    If I made any huge mistakes, I may consider doing a follow-up episode talking about my mistakes, so feel free to call them out.
    And no, constructive feedback does not include "web components sux". I will happily delete all non-constructive comments.
</p>

<h2>Thanks</h2>
<p>
    I'd like to thank:
</p>
<ul>
    <li>Claire Fry of <a href="https://www.vocalconfidencetraining.com">Vocal Confidence</a> for early speaking coaching and feedback</li>
    <li>Rachel King for always asking "What is your favorite Web Component" after writing my book and in part inspiring this series</li>
    <li><a href="https://www.manning.com/">Manning Publications</a> for publishing my first book on Web Components</li>
    <li>My wife <a href="https://rebeccagomezfarrell.com/">Becca</a> for valuable feedback, support, and making sci-fi a constant in our house with her writing and dayjob</li>
</ul>

<h2>Software</h2>
<p>
    Video editing in Adobe Premiere, Motion graphics and compositing in Adobe After Effects, graphics in Adobe Photoshop and Adobe Illustrator, audio editing in Adobe Audition,
    3D Rendering and Scene layout and minor modeling texturing and animation in Blender 3D, 3D animation in Tvori VR, 3D modeling in
    Gravity Sketch and Adobe Medium, 3D texturing in Adobe Substance Painter, VR Motion Capture in Glycon Pro,
    coding in Jet Brains WebStorm
</p>


<h2>Disclaimer</h2>
<p>
    Though I work for Adobe, the thoughts and opinions on this site and video series do not reflect those of my
    employer. I also do not represent the Spectrum Web Components team, or work on that team.
</p>
<p>
    The software used, inclusive of the Adobe Creative Cloud and Spectrum Web Components, is done as a hobbyist.
    This means that my video/audio production skills don't reflect the professional output that can be achieved in
    that software, and there even may be better ways to use Spectrum Web Components than how I've presented.
</p>

</BaseLayout>

