---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="All Episodes of Web Components in Space" page="episodes">
    <ul>
        <li>
            <strong>Episode 1:</strong> <a href="episodes/s01e01">First steps and Halftones...in Space!</a>
        </li>
    </ul>
</BaseLayout>
