---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout page="home" title="Web Components in Space">
    <p>In summer of 2020, <a target="_blank" href="https://www.infoq.com/news/2020/06/javascript-spacex-dragon/">Web Components went to space</a>. When they returned, nothing was the same.</p>
    <p>My name is Ben Farrell and I built my own spacelab in the hopes of finding out what happened. Are Web Components a force for good, or a threat to the world wide web?</p>
    <p>This is the video log of my experiments. See the <a href="s01e02">latest episode</a> or <a href="episodes">view them all</a>.</p>
</BaseLayout>
